.fixed {
    position: absolute;
    bottom: 0;
    top: 92vh;
    width: 100%;
    height: auto;
    background: blue;
}
.container {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 10vh;
}

img
{
    width: 400px;
    height: 400px;
}

.flex
{
    display: flex;
    flex-flow: row wrap;
}
.bold
{
    font-weight: bolder;
}